.header {
    background-color: #3d3d40;
    display: flex;
    height: 75px;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo__icon {
    position: relative;
    width: 50px;
    height: 50px;
    border: solid 2px #27bd22;
    border-radius: 50px;
    margin: 10px 0 10px 50px;
}
    
.header__logo__icon:before {
    content: "";
    width: 17px;
    height: 26.5px;
    border-left: 2px solid #27bd22;
    border-radius: 5px;
    position: absolute;
    top: 9px;
    left: 17px;
}
    
.header__logo__icon:after {
    content: "";
    position: absolute;
    top: 11px;
    left: 8px;
    width: 21px;
    height: 21px;
    transform: rotate(45deg) skew(-5deg, -5deg);
    border-top: 2px solid #27bd22;
    border-right: 2px solid #27bd22;
    border-radius: 5px;
}

.header__logo__text {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 8px;
    color: #fff;
    letter-spacing: 2px;
}

.header__buttons {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.header__buttons > button {
    text-transform: capitalize;
    background-color: transparent;
    color: #fff;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__buttons > button:hover {
    cursor: pointer;
}

.user_icon {
    width: 18px;
    height: 18px;
    fill: #fff;
}

.button__text {
    margin-left: 5px;
}