.curse-item {
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
}

.curse-item__content {
    width: 85%;
}

.curse-item__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.button-icon {
    width: 10px;
    height: 10px;
    fill: #fff
}

.load-more {
    margin: auto;
}