<div class="curse-item">
    <ng-container *ngIf="title && text; else loadMore">
        <div class="curse-item__content">
            <div class="curse-item__content__title">{{ title }}</div>
            <div class="curse-item__content__text">{{ text }}</div>
        </div>
        <div class="curse-item__buttons">
            <app-button text='edit' width="70px" height="25px" (onButtonClickEvent)="onButtonClick('edit')">
                <svg class="button-icon"
                height="426.66667pt" 
                viewBox="0 0 426.66667 426.66667" 
                width="426.66667pt" 
                xmlns="http://www.w3.org/2000/svg">
                    <path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/>
                </svg>
            </app-button>

            <app-button text='remove' width="70px" height="25px" (onButtonClickEvent)="onButtonClick('remove')">
                <svg class="button-icon"
                height="426.66667pt" 
                viewBox="0 0 426.66667 426.66667" 
                width="426.66667pt" 
                xmlns="http://www.w3.org/2000/svg">
                    <path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0"/>
                </svg>
            </app-button>
        </div>
    </ng-container>
</div>

<ng-template #loadMore> 
    <div class="load-more">
        <a href="#" (click)="onButtonClick('load more')"> load more </a>
    </div>
</ng-template>