section {
    background-color: #ededed;
    padding: 0 50px 100px;
}

.curse-wrapper > div {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}

app-button {
    float: right;
}

.plus-icon {
    width: 10px;
    height: 10px;
    fill: #fff
}