<button class="button"
    (click)="onButtonClick()"
    [ngStyle]="{
        'width': width,
        'height': height,
        'background-color': backgroundColor
    }">
    <ng-content select="svg"></ng-content>
    <span> {{ text }} </span>
</button>
