<div class="search">
    <input type="search" (keyup)="onInputValueChange($event)" />
    <svg *ngIf="!inputValue" class="search-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
    <g>
        <g>
            <path d="M302.058,0C186.296,0,92.116,94.18,92.116,209.942c0,50.697,18.064,97.253,48.092,133.574L0,483.724L28.276,512
                l140.208-140.208c36.321,30.028,82.877,48.092,133.574,48.092C417.82,419.884,512,325.704,512,209.942S417.821,0,302.058,0z
                M302.058,379.895c-93.712,0-169.953-76.241-169.953-169.953S208.346,39.989,302.058,39.989s169.953,76.241,169.953,169.953
                S395.77,379.895,302.058,379.895z"/>
        </g>
    </g>
    </svg>
    <span *ngIf="!inputValue" class="input-placeholder"> Text to search </span>
    <button class="search__button" (click)="onSearchClick()" > search </button>
</div>