.search {
    height: 75px;
    position: relative;
    display: flex;
    align-items: center;
}

.search > input {
    height: 25px;
    width: 250px;
    padding-left: 20px;
}

.search-icon {
    height: 13px;
    width: 13px;
    position: absolute;
    top: 30px;
    left: 6px;
    fill: #ccc;
}

.input-placeholder {
    position: absolute;
    top: 28px;
    left: 22px;
    color: #ccc;
}

.search__button {
    margin-left: 5px;
    border: none;
    background-color: #27bd22;
    height: 25px;
    width: 70px;
    color: #fff;
    text-transform: capitalize;
}

.search__button:hover {
    cursor: pointer;
}